﻿@using System.Text.Json
@model vs2022.Models.ProductViewModel

@{
    ViewData["Title"] = "Products";
    var selectedProductId = 0;
}

<h1>Products</h1>
<form asp-controller="Order" asp-action="Index">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Product Name")
                </th>
                <th>
                    @Html.DisplayName("Unit Price")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Products.Count; ++i)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Products[i].ProductName, new { htmlAttributes = new { @class = "form-control" }})
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Products[i].UnitPrice)
                    </td>
                    <td>
                        <input asp-for="@Model.Products[i].Quantity" />
                        @Html.CheckBoxFor(m => m.Products[i].IsChecked)
                    </td>
                    @Html.HiddenFor(x=> Model.Products[i].UnitPrice)
                    @Html.HiddenFor(x=> Model.Products[i].IsChecked)
                    @Html.HiddenFor(x=> Model.Products[i].ProductName)
                    @Html.HiddenFor(x=> Model.Products[i].Quantity)
                    @Html.HiddenFor(x => x.Products[i].ProductId)
                    @Html.HiddenFor(x => x.Products[i].ProductName)
                    @Html.HiddenFor(x => x.Products[i].UnitPrice)
                    @Html.HiddenFor(x => x.Products[i].Quantity)
                    @Html.HiddenFor(x => x.Products[i].IsChecked)
                    @Html.HiddenFor(x => x.Products[i].CategoryName)
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-success" type="submit" id="checkout">test</button>
</form>

