﻿@{
    ViewData["Title"] = "Home Page";
}
@model vs2022.Models.LoginViewModel;

<div class="login">
    <div class="body">
        <form asp-controller="Home" asp-action="Login">
            <div class="form-outline mb-4">
                <input type="text" id="form2Example1" required class="form-control" asp-for="UserName"/>
                <label class="form-label" for="form2Example2">Username</label>
            </div>

            <div class="form-outline mb-4">
                <input type="password" id="form2Example2" required class="form-control" asp-for="Password"/>
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    <a href="#!">Forgot password?</a>
                </div>
            </div>

            <div class="row mb-4">
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>

            <div class="text-center">
                <p>Not a member? <a href="#!">Register</a></p>
            </div>
        </form>
    </div>
</div>
<style>
    .body {
        width: 30%;
        margin-top:180px;
    }

    .login {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>